.page-footer
	position: relative
	height: $footer_height
	clear: both
	background: $content_bckg
.footer__content
	width: $content
	margin: 0 auto
	text-align: center
.lock
	display: block
	float: left
	clear: both
	margin: 23px 0 0 31px
	height: 32px
	width: 20px
	background: url('../../images/lock.png') no-repeat
	text-indent: -9999px
	&:hover
		background-position: 0 -32px
.copyright
	font-family: fira_sansextralight
	font-size: 13px
	padding-right: 50px
	height: 100%
	display: inline-block
	line-height: $footer_height
	vertical-align: middle