.menu
	background: $content_bckg
	border-radius: 4px
	width: $side_elements_width
	overflow: hidden
.menu--list
	margin: 0
	padding: 0
.menu--list__item
	list-style: none
.menu__item--link
	display: block
	color: $menu_font_color
	font-size: 21px
	font-family: fira_sanslight
	height: 50px
	padding: 23px 0 0 17px
	text-decoration: none
	&:hover
		color: $hover
	&:active
		font-size: 23px
.menu__item--wrap
	margin: -2px 10px
	border-bottom: 2px solid $hover
.menu--list__item--active
	margin: 0
	background: $hover
	.menu__item--link
		color: white
		font-size: 23px
	&:hover
		color: white