.menu
	// background: $content_bckg
	border-radius: 2px
	margin-top: 39px
	width: 250px
.menu--item
	margin: 0
.menu__item--link
	display: block
	color: $menu_font_color
	font-size: 21px
	font-family: fira_sansbook
	height: 50px
	margin: 0 10px
	padding: 21px 0 0 17px
	text-decoration: none
	border-bottom: 2px solid $hover
	&:hover
		color: $hover
	&:last-child
		border-bottom: none
.active
	border-top-left-radius: 2px
	border-top-right-radius: 2px
	color: white
	font-size: 23px
	margin: 0
	padding-left: 27px
	background: $hover
	&:hover
		color: white